

//字型 相關
.lato{
  font-family: "Lato";
}
.kanit{
  font-family:"kanit" ;
}
.Oswald{
  font-family: "Oswald";
}
.roboto{
  font-family: "roboto";
}
//width height 相關
.w-0{
  width: 0;
}
.w40{
  width: 40px;
}
.h40{
  height: 40px;
}
.w50{
  width: 50px;
}
.h50{
  height: 50px;
}
.w60{
  width: 60px;
}
.h60{
  height: 60px;
}
.max415{
  max-width: 415px;
}
.max495{
  max-width: 495px;
}
.max600{
  max-width: 600px;
}
.max700{
  max-width: 700px;
  margin: auto;
}
.max777{
  max-width: 777px;
  margin: auto;
}
.max940{
  max-width: 940px;
  margin: auto;
}
.max1000{
  max-width: 1000px;
  margin: auto;
}
.max1120{
  max-width: 1120px;
  margin: auto;
}
.max1128{
  max-width: 1128px;
  margin: auto;
}
.max1180{
  max-width: 1180px;
  margin: auto;
}
.max1200{
  max-width: 1200px;
  margin: auto;
}
.max1400{
  max-width: 1400px;
  margin: auto;
}
.max1420{
  max-width: 1420px;
  margin: auto;
}
.max1440{
  max-width: 1440px;
  margin: auto;
}
.max1520{
  max-width: 1520px;
  margin: auto;
}
.max1560{
  max-width: 1560px;
  margin: auto;
}
.h-50{
  height: 50%;
}
.h-100vh{
  height: 100vh;
}
//lh 相關
.lh1{
  line-height: 1;
}
.lh14{
  line-height: 1.4;
}
.lh16{
  line-height: 1.6;
}
.lh18{
  line-height: 1.8;
}
.lh21{
  line-height: 2.1;
}

//z-index 相關
.z-1{
  z-index: 1;
}
.z-2{
  z-index: 2;
}
.z-3{
  z-index: 3;
}
//bg
.bg-green6FBA44{
  background: $green6FBA44;
}
.bg-green006938{
  background:$green006938;
}
.bg-green0BBD6E{
  background: $green0BBD6E;
}
.bg-grayF0F0F0{
  background: #F0F0F0;
}
.bg-black{
  background: $black;
}
.bg-blue{
  background: $blue;
}
.bg-grayDCDCDC{
  background: #DCDCDC;
}
.bg-hover-white{
  transition: all .3s;
  &:hover{
    background: white !important;
  }
}
.bg-hover-blue055DAE{
  transition: all .3s;
  &:hover{
    background: $blue055DAE !important;
  }
}
.bg-hover-green0BBD6E{
  transition: all .3s;
  &:hover{
    background: $green0BBD6E !important;
  }
}
//color 相關
.text-white08{
  color:rgba(255,255,255,0.8);
}
.text-white05{
  color:rgba(255,255,255,0.5);
}
.text-white04{
  color:rgba(255,255,255,0.4);
}
.text-white02{
  color:rgba(255,255,255,0.2);
}
.text-black{
  color:black;
}
.text-blue{
  color:$blue;
}
.text-blue055DAE{
  color:$blue055DAE;
}
.text-lightBlue{
  color:$lightBlue;
}
.text-green0BBD6E{
  color:$green0BBD6E;
}
.text-gray646464{
  color:$gray646464;
}
.text-gray32323205{
  color:$gray32323205;
}
.text-gray969696{
  color:$gray969696;
}
.text-grayCDCDCD{
  color:$grayCDCDCD;
}
.text-grayB4B4B4{
  color:#B4B4B4;
}
.text-hover-gray646464{
  transition: all .3s;
  &:hover{
    color:$gray646464 !important;
  }
}

.text-hover-green0BBD6E{
  transition: all .3s; 
  &:hover{
    color:$green0BBD6E !important;
  }
}
.text-hover-blue055DAE{
  transition: all .3s; 
  &:hover{
    color:$blue055DAE !important;
  }
}
.text-hover-white{
  transition: all .3s;
  &:hover{
    color:white !important;
  }
}
//border
.border-white05{
  border:1px solid rgba(255,255,255,0.5);
}
.border-white{
  border:1px solid white;
}
.border-blue{
  border:1px solid $blue;
}
.border-blue055DAE{
  border:1px solid $blue055DAE;
}
.border-grayC8C8C8{
  border:1px solid $grayC8C8C8; 
}
.border-grayCDCDCD{
  border:1px solid $grayCDCDCD; 
}
.border-green0BBD6E{
  border:1px solid $green0BBD6E; 
}

.border-bottom-DCDCDC{
  border-bottom:1px solid #DCDCDC;
}
.border-bottom-D8D8D8{
  border-bottom:1px solid #D8D8D8;
}
.border-top-black{
  border-top:1px solid black;
}
.border-top-DCDCDC{
  border-top:1px solid #DCDCDC;
}
.border-bottom-black{
  border-bottom:1px solid black;
}
.border-hover-grayC8C8C8{
  transition: all .3s;
  &:hover{
    border:1px solid $grayC8C8C8;
  }
}
.border-hover-green0BBD6E{
  transition: all .3s;
  &:hover{
    border:1px solid $green0BBD6E !important;
  }
}
//rounded 相關
.rounded-10{ 
  border-radius:10px;
}
.rounded-20{ 
  border-radius:20px;
}
.rounded-30{ 
  border-radius: 30px;
}
//position 相關 
.absolute-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.position-lg-absolute{
  @media (min-width:992px){
    position: absolute !important;
  }
}
.position-md-absolute{
  @media (min-width:768px){
    position: absolute !important;
  }
}
.position-xl-absolute{
  @media (min-width:1200px){
    position: absolute !important;
  }
}
// flex 相關
.flex-grow{ 
  flex-grow: 1;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-align-center{
  display: flex;
  align-items: center;
}
.flex-align-end{
  display: flex;
  align-items: flex-end;
}
.flex-justify-space-between{
  display: flex;
  justify-content: space-between;
}
.flex-justify-center{
  display: flex;
  justify-content: center;
}

.flex-lg-justify-start{
  @media (min-width:991px){
    justify-content: flex-start;
  }
}
.flex-md-justify-start{
  @media (min-width:767px){
    justify-content: flex-start;
  }
}
.align-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}

//row
.row{
  &.g-0{
    margin: 0;
    [class^=col-]{
      padding-right: 0;
      padding-left: 0;
    }
  }
  &.g-1{
    margin-left: -5px;
    margin-right: -5px;
    [class^=col]{
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  &.g-2{
    margin-left: -10px;
    margin-right: -10px;
    [class^=col]{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &.g-3{
    margin-left: -21px;
    margin-right: -21px;
    [class^=col]{
      padding-left: 21px;
      padding-right: 21px;
    }
    @media(max-width:1400px){
      margin-left: -15px;
      margin-right: -15px;
      [class^=col]{
        padding-left: 15px;
        padding-right: 15px;
      } 
    }
  }
}

//其他
.blank{
  padding-right: 40px;
  padding-left: 40px;
  @media(max-width:767px){
    padding-right: 20px; 
    padding-left: 20px;
  }
}
.text-lg-left{
  @media(max-width:991px){
    text-align: left;
  }
}
.text-md-left{
  @media(max-width:767px){
    text-align: left;
  }
}
.cursor{
  cursor: pointer;
}
.point-event-none{
  pointer-events: none;
}
.point-event-all{
  pointer-events: all;
}
.les0{
  letter-spacing: 0;
}
.les06{
  letter-spacing: 0.6px;
}
.background-cover{
  background-size: cover;
  background-position: center;
}
.line1{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.line2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.line3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-uppercase{
  text-transform: uppercase;
}
.overflow-hidden{
  overflow:hidden;
}
.mycol-5 {
  flex: 0 0 62.5%;
  max-width: 62.5%;
}
.font-weight-500{
  font-weight: 500;
}
.blue-decLine{
  position: relative;
  &::before,
  &::after{
    content:"";
    display: block;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;   
  }
  &::before{
    z-index: 1;
    width: 40px;
    background: #04529B;
  }
  &::after{
    width: 80px;
    background: #0EB8EC;
  }
  @media(max-width:767px){
    &::before{
      width: 20px;
    }
    &::after{
      width: 40px;
    }
  }
}
.list-style-decimal{
  list-style-type: decimal;
  padding-left: 22px;
}